{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mt-4">

                <h1>Make a reservation</h1>

                <form action="/reservation" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input required type="text" class="form-control" id="firstName" name="firstName">
                    </div>

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input required type="text" class="form-control" id="lastName" name="lastName">
                    </div>

                    <div class="mb-3">
                      <label for="emailAddress" class="form-label">Email address</label>
                      <input required type="text" class="form-control" id="emailAddress" name="emailAddress">
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone number</label>
                        <input required type="text" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>

                    <p>We will never share your email or phone number with anyone</p>

                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
{{end}}

<script>
    (() => {
      'use strict'
      const forms = document.querySelectorAll('.needs-validation')

      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
    })() 
  </script>
